/* body{
    font-family: Courier, monospace;
} */


body {
    display: flex;
    flex-direction: column;
    
    padding:10px;
    margin: 8px auto;
    white-space: pre-wrap;
    font-family: Courier, monospace;
    max-width: 400px;
    font-size: 13px;
    --bg: white;
    --fg: black;
    --red: red;
    --blue: blue;
    --green: green;
    --gray: gray;
    --dark-gold: #bfa100;
    --brown: #4a2d30;
    --odd-row: #f0f0f0;
    
    background-color: var(--bg);
    color: var(--fg);
  }

.contain{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
}
h1{
    font-size: 18;
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: center;
    font-size: 16;
    font-weight: bolder;
    text-transform: uppercase;
}

title{
    padding: 0px;
}
td{
    /* padding: 0px 4px; */
    /* border: 1px solid black; */
      padding: 0px;
      text-align: left;
      /* margin:0px; */
      /* white-space: nowrap; */

}
table{
    /* width: 100%; */
      table-layout: fixed;
      border-collapse: collapse;
      font-size: 13px;
      width: 100%;
}

td:nth-child(1){ width: 15%; } 
td:nth-child(2) { width: 0px; }  
td:nth-child(3) {width: 25%; text-align: left;}  
td:nth-child(4){ width: 10%; text-align: center; }  
td:nth-child(5){ width: 25%; text-align: right; }  


.upcoming{
    td:nth-child(1){ width: 15%; }; 
    td:nth-child(2) { width: 25%; text-align: left;};  
    td:nth-child(3) { width: 10%; text-align: left;};  
    td:nth-child(4){ width: 25%; text-align: left; };  
    td:nth-child(5){ width: 15%; text-align: right; };  
}


@media screen and (max-width: 500px) {
    table {
      font-size: 12px;
    }
    h1{
        font-size: 16;
    }
    h2{
        font-size: 14;
    }
  }


  .break
{
    padding: 30px;
}